.improve {
    &__text {
        min-width: 525px;
        min-height: 460px;
        position: relative;
        margin-bottom: 65px;

        &-inner {
            position: absolute;
            bottom: 0;
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 565px;
        padding: 65px;
        padding-left: 55px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 65px;
    }

    &__item-img {
        min-height: 175px;
        max-width: 180px;
        text-align: center;
    }

    &__item-title {
        font-size: 30px;
        margin-bottom: 20px;
        color: $color_text_darker;
    }

    &__item-desc {
        font-size: 18px;
        color: $color_text_lighter;
    }
}

@media (max-width: 1270px) {
    .improve {
        padding: 0 40px;

        &__items {
            display: block;
            text-align: center;
        }

        &__item {
            margin: 0 auto;
            text-align: center;

            &-img {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 600px) {
    .improve {
        &__text {
            min-width: 0;
        }

        &__title {
            font-size: 35px;
            line-height: 40px;
        }

        &__desc {
            font-size: 15px;
            line-height: 25px;
        }

        &__item {
            &-desc {
                font-size: 15px;
                
            }
        }
    }
}

@media (max-width: 400px) {
    .improve {
        &__item {
            padding: 0;
            margin-bottom: 100px;

            &-img {
                min-height: 0;
                width: 100%;
                margin-bottom: 20px;

                img {
                    width: 100px;
                }
            }
        }
    }
}
