.form-modal {
    display: none;
    text-align: center;

    &__title {
        font-size: 30px;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 30px 20px 30px 40px;
            border-radius: 10px;
            box-shadow: 0px 7px 18px -6px #d2d2d2;
            min-width: 360px;
            font-family: "Brown";
            font-weight: 300;
            color: $color_text_lighter;
            font-size: 23px;
            line-height: 46px;
            letter-spacing: 0.1px;

            &:nth-child(2) {
                margin-bottom: 40px;
            }
        }
    }
}

.animated-modal {
    display: none;
    text-align: center;
}
